{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}




<section class="experiance-section" id="section_1">
    <div class="auto-container">
        <div class="row clearfix" >
            <!-- Title Column -->
            <div class="title-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="{% static 'images/imorat/NeftGazTadqiqot logo copy.png' %}" alt="" / id="lg1">
                    </div>
                    <h2>{% trans "+10 yil tajriba" %}<br></h2>
                    <div class="text">{% trans "Yuqori tajribaga ega mutaxasislar" %}<br></div>
                    
                </div>
                
                
                
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="title-box">
                        <h2>{% trans "NeftGazTadqiqot" %}</h2>
                        <p>
                            {% trans "2019 yilda Buxoroda tashkil topib 'Freedom Investment MCHJ' 'Imorat Development' arxitektura kompaniyasi qisqa vaqt ichida O'zbekistonda xususan Buxoro va Toshkentda murakkab, premium qurilish loyihalari, katta davlat buyurtmalari hamda madniy meros obyektlari restavratsiyasida yuqori ko'rsatkichlarga erishdi." %}<br>
                        </p>
                        <p>
                            {% trans "Biz III - darajali murakkablikdagi qurilish obyektlari, premium ko'p qavatli uylar, restoranlar, 4-5 yulduzli mehmonxonalar eksteryeri va interyeri, landshaft dizayni, massivlar va kichik shaharchalar bosh rejalarini yaratishga shuningdek qadimiy obidalar restavratsiyasi hamda madaniy meros himoyasi hududidagi yangi qurilishlarni loyihalashga ixtisoslashganmiz." %}
                        </p>
                        <p>
                            {% trans "Portfoliomizda yuqoridagi yo'nalishlar bo'yicha eng sara namunalarni ko'rishingiz mumkin." %}
                        </p>
                        
                        
                    </div>
                    
                    
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="specialization-box">
                <h2 class="text-center">{% trans "Bizning yo'nalishlar" %}</h2>
                <br><br>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-building-alt"></div>
                            <h5><a href="projects-detail.html">{% trans "Neft va gazni qayta ishlash mahsulotlari sinov laboratoriyasi" %}</a></h5>
                            <p>{% trans "«Нефтгазтажкикот» АЖ таркибидаги нефт ва газни қайта ишлаш маҳсулотлари синов лабораторияси Ўзбекистон Республикаси Миллий сертификатлаштириш тизимида аккредитация қилинган." %}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-livejournal"></div>
                            <h5><a href="projects-detail.html">{% trans "Ekologik-analitik laboratoriya" %}</a></h5>
                            <p>{% trans "Ўзбекистон Республикаси Табиатни муҳофаза қилиш Давлат қўмитаси томонидан аттестация қилинган экоаналитик лаборатория." %}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-engineer"></div>
                            <h5><a href="projects-detail.html">{% trans "Ingibitor ximoyasi va elektr-kimyoviy muxofaza laboratoriyasi" %}</a></h5>
                            <p>{% trans "«Ўзстандарт» агентлиги томонидан аттестация қилинган ингибитор химояси ҳамда электр-кимёвий муҳофаза синов лабораториялари." %}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Specialise Box -->
                <div class="specialise-box">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon icofont-bank-alt"></div>
                            <h5><a href="projects-detail.html">{% trans "Xalqaro standartlar talablariga javob beradigan tadqiqot laboratoriyalari" %}</a></h5>
                            <p>{% trans "Лабораториялар халқаро стандартлар талабларига жавоб беради ва тадқиқотларни юқори даражада ўтказади." %}</p>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        
    </div>
</section>



<section class="project-section" id="loyihalar">

    <!-- Project Tabs -->
    <div class="project-tab">
        <div class="auto-container">
            <div class="tab-btns-box">
                <!--Tabs Header-->
                <div class="tabs-header">
                    <div class="clearfix">
                        <div class="pull-left">
                            <!-- Sec Title -->
                            <div class="sec-title">
                                <h2>{% trans "Bizning loyihalar" %}</h2>
                            </div>
                        </div>
                      
                    </div>
                    
                </div>
            </div>
        </div>
<!-- ----- -->
        <!--Tabs Content-->
        <style>
            .gallery-block .image img {
                width: 100%;       /* Занимает всю ширину контейнера */
                height: 300px;     /* Задайте желаемую высоту для всех изображений */
                object-fit: cover; /* Обрезает изображение, сохраняя его пропорции */
                border-radius: 6px; /* Добавьте скругление углов, если необходимо */
            }
            
        </style>
        <div class="p-tabs-content">

            <!-- Portfolio Tab / Active Tab -->
            <div class="p-tab active-tab" id="p-tab-1">
                <div class="project-carousel owl-theme owl-carousel">

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/1.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/2.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/4.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/3.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/5.jpg' %}" alt="" />
                                <div class="overlay-box">
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>
</section>
<!-- ---------- - - - --  -- - - - -  - - -- - -  -->
<section class="services-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>{% trans "Bizni nima uchun tanlashadi" %}</h2>
        </div>
        <div class="inner-container">
            <div class="clearfix">

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "Professional va fidoyi jamoa" %}</a></h5>
                        <p>{% trans "Yuqori malakali mutaxasislar." %}</p>
                        <div class="icon icofont-labour"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>
                        
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "Bizning afzalliklarimiz" %}</a></h5>
                        <p>{% trans "Faoliyat yo'nalishlari bo'yicha yuqori malakali mutaxassislarning mavjudligi." %}</p>
                        <div class="icon icofont-ruler-compass-alt"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>
                        
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "Sifat va narx hamohangligi" %}</a></h5>
                        <p>{% trans "Premium xizmat paketlari va tadqiqot va ishlanmalar uchun optimal narxlar." %}</p>
                        <div class="icon icofont-credit-card"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>                        
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <h5><a href="projects-detail.html">{% trans "24/7 qo'llab quvvatlash" %}</a></h5>
                        <p>{% trans "Konsalting yechimlar va qulay takliflar." %}</p>
                        <div class="icon icofont-live-support"></div>
                        <a href="#" class="more">{% trans "ko'proq" %}</a>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% include 'includes/news_detail.html' %}

<section id="blog" class="work-section" style="background-image: url('{% static 'images/photo_2022-12-09_12-30-31.jpg' %}'); background-position:center;">
    <div class="auto-container">
        <div class="content">
            <div class="title">{% trans 'Biz qanday ishlaymiz' %}</div>
            <h1>{% trans "Ishonchli ilmiy" %} <br> {% trans "tadqiqotlar" %}</h1>
          


        </div>
    </div>
</section>

<section  class="testimonial-section" style="background-image: url('{% static "images/background/pattern-1.png" %}')">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Carousel Column -->
            <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="single-item-carousel owl-carousel owl-theme">

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote-icon ion-quote"></div>
                                <h2>{% trans " Xalqaro sertifikatlangan" %} <br> {% trans "yuqori sifatli tadqiqotlar." %} </h2>    
                                <div class="category"><span></span> </div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote-icon ion-quote"></div>
                                <h2>{% trans "'Neftgaztadqiqot' AJ negizida" %} <br> {% trans "xalqaro akkreditatsiyadan o'tgan " %} <br>{% trans "tadqiqot laboratoriyasi mavjud." %}</h2>
                                                
                                
                                <div class="category"><span></span> </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Image Column -->
             <style>

             </style>
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <img style=" border-radius: 20px;" src="{% static 'images/kaska.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</section>
<br>
<section class="sponsors-section">
    <div class="auto-container">

        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon2.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon5.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon3.jpg' %}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="#"><img src="{% static 'images/spon4.jpg' %}" alt=""></a></div>
                </li>
                
            
                
            </ul>
        </div>

    </div>
</section>

<div class="section" id="contact">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3066.469577520531!2d64.4285958!3d39.7740161!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f50077cb46b2101%3A0x5723d94b0272ecf3!2s%22Neftgaztadqiqot%22%20AJ!5e0!3m2!1sru!2s!4v1726655626298!5m2!1sru!2s" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}


