{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<br><br>
{% block content %}
    <div class="container my-5" id="license">
        <div class="card">
            <div class="card-header">
                <h2 class="h4">{% trans 'Akkreditsiya' %}</h2>
            </div>
            <div class="card-body">
                <p class="mb-4">{% trans "Ushbu bo‘limda siz kompaniyangizning Akkreditsiya hujjatining PDF-fayllarini ko‘rishingiz yoki yuklab olishingiz mumkin. Biz shaffoflikka ahamiyat beramiz va faoliyatimizga bo‘lgan ishonchingiz uchun barcha зарур hujjatlarni taqdim etamiz." %}</p>

                <!-- Отображаем все лицензии -->
                {% for license in licenses %}
                    {% if license.pdf %}
                        <div class="embed-responsive embed-responsive-16by9 mb-4">
                            <embed src="{{ license.pdf.url }}" type="application/pdf" class="embed-responsive-item" />
                        </div>

                        <!-- Кнопка скачивания с отступом -->
                        <a href="{{ license.pdf.url }}" class="btn btn-primary mb-4" target="_blank">{% trans 'PDF Akkreditsiyani yuklab olish' %}</a>
                    {% else %}
                        <p>{% trans 'Akkreditsiya hujjati mavjud emas' %}</p>
                    {% endif %}
                    
                    <!-- Разделитель для визуального разделения лицензий -->
                    <hr class="my-4">
                {% endfor %}
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}
